.textGradient {
    background: radial-gradient(60.98% 51.18% at 50.00%  50.00%, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bSubmit {
    backdrop-filter: blur(68.4460678100586px);
}

.button {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    padding: 12px 26px 12px 26px;
    border-radius: 31px;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(43px);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.button::before {
    content: "";
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border-radius: 31px;
    padding: 1px;
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.15), rgba(255, 113, 82, 0));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}