.buttonBorder {
    position: relative;
    padding: 12px 24px 12px 24px;
    border-radius: 34px;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(34px);
}

.buttonBorder::before {
    content: "";
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    border-radius: 34px;
    padding: 2px;
    background: linear-gradient(113deg, rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}