/* .container {
    animation: marquee 12s linear infinite;
} */

/* .item {
    margin-left: 31px;
    margin-right: 31px;
} */
/* 

@keyframes marquee {
    0% {
        transform: translateX(-1254px);
    }

    100% {
        transform: translateX(0%);
    }
} */